.container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto; /* Adjust as needed */
            width: 200;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
            padding: 10 px;
                      
        }

       
.container svg {
            margin-left: -20px; 
        
    }       

.plot-title {
    text-align: center;
    margin: 50px;
      
    
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
body {

    margin: 10;
    padding: 10;
}